> **Petit exercice d'info sympa : La fourmi de Langton**

Quelques outils que je vous fournis (voir explications ci-dessous) :

In [1]:
import matplotlib.pyplot as plt
import matplotlib.animation as am

class tableau():
	
	def __init__(self, tab, d, x_b = 0, y_b = 0):
		self.d_val = d
		self.x_b = x_b
		self.y_b = y_b
		self.w = len(tab[0])
		self.h = len(tab)
		self.id = tab
	
	def show(self, inter = 'nearest'):
		plt.figure()
		plt.imshow(self.id, cmap = 'gray', interpolation = inter)
		plt.pause(0.1)
	
	def copy(self):
		temp = [[self.id[i][j] for j in range(self.w)] for i in range(self.h)]
		return tableau(temp, self.d_val, self.x_b, self.y_b)
	
	def reverse_y(self):
		temp = []
		for i in range(self.h):
			temp.append(self.id[self.h - i - 1])
		self.id = temp
	
	def add_c(self, c):
		if c>0:
			for j in range(self.h):
				self.id[j] = self.id[j] + [self.d_val]
		else:
			for j in range(self.h):
				self.id[j] = [self.d_val] + self.id[j]
			self.x_b -= 1
		self.w += 1
	
	def add_l(self, c):
		if c>0:
			self.id = self.id + [[self.d_val for i in range(self.w)]]
		else:
			self.id = [[self.d_val for i in range(self.w)]] + self.id
			self.y_b -= 1
		self.h += 1
	
	def elt(self,x,y):
		if x<self.x_b or y<self.y_b or x>=self.x_b+self.w or y>=self.y_b+self.h:
			return self.d_val
		else:
			return self.id[y-self.y_b][x-self.x_b]
	
	def chg_elt(self,x,y,e):
		if x<self.x_b or x>=self.x_b+self.w:
			self.add_c(x-self.x_b)
			self.chg_elt(x,y,e)
		elif y<self.y_b or y>=self.y_b+self.h:
			self.add_l(y-self.y_b)
			self.chg_elt(x,y,e)
		else:
			self.id[y-self.y_b][x-self.x_b] = e
	
	def include(self,left,right,bottom,top):
		self.chg_elt(left,bottom,self.elt(left,bottom))
		self.chg_elt(right,top,self.elt(right,top))

def affiche_joli(t):
  for e in t:
    print(e)

En résumé rapide : La classe "tableau" mime un tableau infini.

Exemple :

je prends l'instruction suivante :

In [2]:
t = tableau([[1]],1)

Par défaut, toutes les valeurs de t valent la valeur du deuxième argument passé à la fonction tableau, ici 1.

On accède à l'élément d'abscisse x et d'ordonnée y par la méthode t.elt(x,y) (équivalent donc à t[y][x] pour un tableau python "classique" (c'est-à-dire une liste de listes, qu'on appellera par la suite "array" pour éviter les confusions avec la classe tableau introduite)).

Exemple :

In [3]:
print(t.elt(-14,17))

1

Evidemment, étant donné que même la mémoire des serveurs de google que nous sommes en train d'utiliser n'est pas infinie, les valeurs de t ne sont donc pas stockées une à une dans la mémoire.

L'astuce consiste à dire que les valeurs de t sont toutes égales à 1 (pas besoin de les stocker une à une donc), sauf pour un nombre fini d'entre elles, qui seront stockées dans un array, auquel on peut accéder par la méthode t.id.

Initialement, t.id vaut le premier argument passé à la fonction tableau, ici [[1]].

In [4]:
print(t.id)

[[1]]

Ensuite, lorsque l'on veut modifier des cases (avec la méthode t.chg_elt(x,y,e), qui assigne à l'élément d'abscisse x et d'ordonnée y la valeur e, équivalent donc à t[y][x] = e pour un array) qui ne sont pas stockées dans t.id, t.id va simplement être agrandi pour contenir ces cases :

In [ ]:
t.chg_elt(2,3,78)
print(t.elt(2,3))
affiche_joli(t.id)

Repérons sur t.id où est le 0:

In [ ]:
t.chg_elt(0,0,0)
affiche_joli(t.id)

Encore un exemple de modification du tableau :

In [ ]:
t.chg_elt(-2,-3,65)
print(t.elt(-2,-3))
affiche_joli(t.id)

On peut agrandir "manuellement" t.id avec t.include(left,right,bottom,top) qui va faire en sorte que t.id stocke les valeurs incluses dans un rectangle délmité par left à gauche, right à droite, bottom en bas et top en haut :

In [ ]:
t.include(-3,2,-4,3)
affiche_joli(t.id)

Dans le cas d'un tableau constitué uniquement de 0 et de 1, la méthode t.show() donne une représentation de ce t.id (0 = noir, 1 = blanc) :

In [ ]:
new = tableau([[1]],1)
new.chg_elt(0,1,0)
new.chg_elt(1,0,0)
affiche_joli(new.id)
new.show()